#//////////////////////////////////////////////////////////////
log_ip = 0.0.0.0
# server_port  -> [agent_client connect port ]
log_port = 8000

 
##################Auth###########################

#auth_ip = 127.0.0.1
#auth_port = 8100

log_db_host = 127.0.0.1
log_db_port = 6306
log_db_user = root
log_db_name = global_log
log_db_psd = 20211013

 
#log_max_recv_size = 1024000000
log_input_buf_size =  123810000
#log_output_buf_size = 1024000000

# 123801623
# 1024000000
# 65535
#log_client_max_num = 20000

res_path = ../../res/


 

